.top-bar {
  background-color: #2a2d4e;
  height: 80px;
  width: auto;
}
.top-bar .name h1 a {
	color: #fed28e;
}
#headerTitle {
  width: 150px;
  height: auto;
}
.top-bar .title-area {
  float: left;
  padding-top: 1%;
  padding-bottom: 1%;
}
.top-bar-section {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
}
.top-bar-section ul li > a.button {
  background: transparent;
  color: #FFD28E;
}
.top-bar-section ul {
  background: transparent;
}
.nav.show-page {
  margin-top: 0;
}
.inline-list.show-page{
  height: 100px;
}
