.top-bar {
  background-color: #2a2d4e;
  height: 8%;
  width: auto;
}
.top-bar .name h1 a {
	color: #fed28e;
}
#headerTitle {
  width: 150px;
  height: auto;
}
.top-bar .title-area {
 float: left;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 10%;
 padding-right: 50%;
}
.top-bar-section ul li > a.button {
  background: transparent;
}
.top-bar-section ul {
  background: transparent;
  padding-top: 1%;
  padding-bottom: 1%;
}
.button-group li .button {
  color: bfb38b;
  border-left: none;
}

