@font-face {
  font-family: sans-serif,"Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
body {
  background-color: #f1f1f1;
}
.project-header {
  border-width: 100%;
}
.project-info {
  padding-left: 40px;
}
.button.purple{
  padding: 15px;
  border-radius: 20px;
  color: #FFD28E;
  background-color: #2B2540;
}
.progress.purple .meter {
  background: #2B2540;
}
.progress.purple {
  border-color: #2B2540;
}
.img-circle {
  border-radius: 50%;
}
.project-container {
  overflow: hidden;
}
.row {
  margin-bottom: 20px;
  max-width: 1200px;
}
.tabs dd.active a {
  background-color: #2B2540;
  color: #FFD28E;
}
.panel {
  overflow: hidden;
}
.tabs-content {
  border-top: 5px solid #2B2540;
  padding: 10px;
}
.large {
  font-size: 1.5em;
}
.index-carousel {
  position: relative;
  height: 200px;
}
.first-carousel {
  background: url('home.jpg');
  background-size: cover;
  height: 700px;
}
.tint {
  position: absolute;
  background-color: rgba(20,24,60,0.65);
  width: 100%;
  height: 100%;
  top: 0;
}
.carousel-header {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.carousel-header h1 {
  font-size: 3em;
  color: #FFD28E;
}
.second-carousel {
  background: url('investor.jpeg');
  background-size: cover;
  height: 700px;
}
.third-carousel {
  background: url('startup.jpg');
  background-size: cover;
  height: 700px;
}
.learn-button {
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0);
}
.button.learn-button  {
  background-color: rgba(0,0,0,0);
}
.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-side {
  padding-left: 10px;
  padding-right: 10px;
}
.startup-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 20px;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
}
.nav-button {
  border-radius: 10px;
  color: #FFD28E;
  background-color: rgba(0,0,0,0);
}
.nav-button.active {
  color: #fff;
  border: 1px solid #fff;
}
.button.nav-button {
  background-color: rgba(0,0,0,0);
}
.you {
  background-color: #2B2540;
  height: 380px;
  width: 380px;
}
.you h1 {
  padding-top: 25%;
  padding-left: 25%;
  padding-right: 25%;
  color: #FFD28E;
  top: 0;
  bottom: 0;
}
footer {
  /*position: absolute;*/
  background-color: #2B2540;
  height: 200px;
  /*bottom: 0;*/
}
footer h6 {
  padding-top: 50px;
  color: #FFD28E;
}

