<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li id="headerTitle" class="name">
      <h1>
        <%= image_tag("logo.png", alt: "StakeFunding") %>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <ul class="button-group">
        <li><a href="#" class="button [radius round] About">About</a></li>
        <li><a href="#" class="button [radius round] ">Startups</a></li>
        <li><a href="#" class="button [radius round] ">Investors</a></li>
        <li><a href="#" class="button [radius round] ">Log In</a></li>
        <li><a style="border: solid 2px; border-radius: 7px;" href="#" class="button [radius round] ">Sign Up</a></li>
      </ul>
    </ul>
  </section>
</nav>

