<section id="projectList">

	<h1>Projects will be here</h1>	
	<div id="column1" class="projectColumns">
		<div class="projects">
			<h2>Project 1</h2>
		</div>
		<div class="projects">
			<h2>Project 2</h2>
		</div>
		<div class="projects">
			<h2>Project 3</h2>
		</div>
	</div>
	<div id="column2">
		<div class="projects">
			<h2>Project 1</h2>
		</div>
		<div class="projects">
			<h2>Project 2</h2>
		</div>
		<div class="projects">
			<h2>Project 3</h2>
		</div>
	</div>
	<div id="column3">
		<div class="projects">
			<h2>Project 1</h2>
		</div>
		<div class="projects">
			<h2>Project 2</h2>
		</div>
		<div class="projects">
			<h2>Project 3</h2>
		</div>
	</div>
</section>